a{
    cursor: pointer;
}

header{
    background-color: #2f476d;
    width: 100%;
    display: inline-flex;
}

.logo img{
    width: 150px;
    height: 40px;
    padding: 17px 10px 5px 25px;
    border-right: 1px solid hsla(0,0%,100%,.3);
}
.nav-center{
    width: 100%;
    padding: 25px;
}
.nav-center .nav-link{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding: 0 15px;
}
.nav-right{
    width: 100%;
    text-align: right;
    padding: 25px;
    border-right: 1px solid hsla(0,0%,100%,.3);
}
.nav-right .nav-link{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding: 0 15px;
}
